.container {
    width: 90%;
    margin: 0 auto;
}

.head {
    background: #33383B;
    color: white;
    padding: 1rem;
    margin-bottom: 2rem;
}


footer {
    background: #33383B;
    color: white;
    margin-top: 3rem;
    text-align: center;
    padding: .2rem 0;
    margin-top: auto;
}

footer p > a {
    color: white;
    text-decoration: none;
    cursor: default;
}

footer p > a:hover {
    text-decoration: underline;
}

/* Path: src\App.js */