.head__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head__nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.head__contentTitle_enlace {
    text-decoration: none;
}

.head__contentTitle {
    margin: 0;
    font-weight: normal;
    font-style: italic;
    color: #fff;
    cursor: default;
    transition: .3s all ease;
}

.head__contentTitle:hover {
    color: #F0F0F0;
}

.head__contentAbout {
    color: #fff;
    text-decoration: none;
    cursor: default;
}

.head__contentAbout:hover {
    text-decoration: underline;
}

.head__group {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
}

.head__contentButton {
    background: #4B809B;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: fit-content;
    padding: .5rem 1rem;
    letter-spacing: .1rem;
    transition: .2s all ease;

    /* Estilos para el icono */
    display: flex;
    align-items: center;
    gap: .3rem;
}

.head__contentButton:hover {
    background: #3B6F8B;
}